.flashy {
	width: 50%;
	color: red;
	font-style: italic;
}

.name h3 {
	font-size: 18px;
	font-weight: bold;
	color: darkblue; 
}

.name p a {
	color: blue;
	font-weight: bold;
}

.warning {
	width: 25%;
	color: lightgreen;
}

.app {
	width: 50%;
	color: lightgreen;
}

.my-class {
	border: 2px;
	padding: 20px;
	margin: 20px;
	background-color: blue;
}

body {
	background-color: pink;
}